@{
    ViewBag.Title = "About Page";
    Layout = "_Layout";
    
    
    var name = "Denrick Shawn Viera";
    var studentNumber = "101426295";
    var courseCode = "COMP2139";
    var courseSection = "54321";
}


<h2>About</h2>

<div>
    <h2>Welcome to my Application</h2>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course code: @courseCode</p>
    <p>Section: @courseCode</p>
</div>