@* @model Project *@

@{
    ViewBag.Title = "About Page";
    Layout = "_Layout";
    var name = "Andrei Gania";
    var studentNumber = "101478350";
    var courseCode = "COMP2139";
    var courseSection = "50269";
}


<h1>About</h1>
<div>
    <h2>Welcome to my Application</h2>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
    <p>Section: @courseSection</p>
</div>
   