@model Project

@{
    ViewData["Title"] = "Project Details";
}

<h2>Project Details</h2>

<div class="card">

    <div class="card-body">
        
        <div class="card-title">@Model.Name</div>
        <div class="card-text">@Model.Description</div>
        
        <dl class="row">
            <dt class="col-sm-3">Project Id</dt>
            <dd class="col-sm-9">@Model.ProjectId</dd>


       
            <!-- Add more properties here -->


        </dl>

    </div>
        
        
        <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.ProjectId" class="btn btn-primary">Edit</a>
        <a asp-controller="Project" asp-action="Index" class="btn btn-secondary">Back to Project List</a>
        
        
    
</div>